/* CSS */
h1 {
    font-family: 'Cabin', sans-serif;
    text-align: center;
    padding: 5px;
    box-shadow: 2px 2px 10px #000;
}
p {
    color: #000;
    font-size: 12px;
}
img {
    width: 400PX;
    height: 200PX;
    box-shadow: 3px 3px 15px #000;
}